html, #react { height: 100% }

body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

#root {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: royalblue;
}

.skills {
    font: inherit;
    color: inherit;
}

.skills td {
    padding-right: 8px;
}
